<section class="scanning-hero section">
  <div class="scanning-hero-container container">
    <h2 class="scanning-hero__title">3D СКАНИРОВАНИЕ</h2>
    <div class="scanning-hero__list">
      <p class="scanning-hero__description one">
        Процесс создания 3D модели по уже существующей детали может занимать длительное время. В
        некоторых случаях процесс может занимать много часов. Но если изделие имеет сложную
        геометрию и криволинейные поверхности, то велика вероятность что перенести объект в
        трехмерную цифровую модель может быть невозможноч.
      </p>
      <p class="scanning-hero__description two">
        В таком случае применяется технология 3D сканирования. Этот метод оцифровки объектов
        позволяет в короткие сроки получить трехмерную модель детали с нужной точностью. Если от
        сканирования нужна простая компьютерная визуализация, то допустимая погрешность сканирования
        меньше 2%.
      </p>
      <p class="scanning-hero__description three">
        Если нужно сканирование деталей с максимальной точностью, то используются специальные
        технологии и постобработка полученных
        <span class="scanning-hero__description-span">сканов специалистом.</span>
      </p>
    </div>

    <picture>
      <source
        media="(min-width: 1444px)"
        srcset="
          ./images/desktop/3d-scanning/img0.webp    1x,
          ./images/desktop/3d-scanning/img0@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1444px)"
        srcset="
          ./images/desktop/3d-scanning/img0.png    1x,
          ./images/desktop/3d-scanning/img0@2x.png 2x
        "
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./images/tablet/3d-scanning/img0.webp    1x,
          ./images/tablet/3d-scanning/img0@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/tablet/3d-scanning/img0.png 1x, ./images/tablet/3d-scanning/img0@2x.png 2x"
      />

      <source
        media="(min-width: 320px)"
        srcset="
          ./images/mobile/3d-scanning/img0.webp    1x,
          ./images/mobile/3d-scanning/img0@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 320px)"
        srcset="./images/mobile/3d-scanning/img0.png 1x, ./images/mobile/3d-scanning/img0@2x.png 2x"
      />
      <img
        class="scanning-hero__img"
        src="./images/mobile/3d-scanning/img0.png"
        alt="Сканирование модели"
      />
    </picture>
  </div>
</section>
