<section class="contakt-page-hero">
  <div class="container">
    <h2 class="contakt-page__title">КОНТАКТЫ</h2>
    <div class="contakct-page__wrap">
      <div class="contakt-page__video">
        <iframe
          class="video"
          src="https://www.youtube.com/embed/z4DqRIrhP_E"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="contakct-page__text">
        <p class="contakt-page__text-item">
          Человек впервые увидев процесс 3D печати может легко увлечься наблюдением за этим
          процессом не один десяток минут.
        </p>
        <p class="contakt-page__text-item">
          Наша команда создает timelapse видео что бы вы могли лучше ознакомиться с технологией 3D
          печати и просто полюбоваться красотой этого процесса.
        </p>
        <p class="contakt-page__text-item emoji">Приятного просмотра!</p>
      </div>
    </div>
  </div>
</section>
