<footer class="footer-section">
  <div class="footer-container container">
    <a href="https://www.3d-freedom.com/rus/" class="footer-logo-link">
      <img
        class="footer-logo"
        src="./images/logo-big.png"
        alt="логотип компании"
        srcset="./images/logo-small.png, ./images/logo-medium.png 1.5x, ./images/logo-big.png 2x"
      />
    </a>
    <div class="contact-information">
      <nav>
        <ul class="footer-nav list">
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="/index.html">Главная</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="/3d-modeling.html">3D Моделирование</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="/3d-scanning.html">3D Сканирование</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="/3d-printing.html">3D Печать</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="/take-order.html">Заказать</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="/contacts.html">Контакты</a>
          </li>
        </ul>
      </nav>
      <ul class="footer-social list">
        <li class="footer-social__item">
          <a class="footer-social__link" href="https://www.instagram.com/_3d_freedom/?utm_medium"
            >Instagram</a
          >
        </li>
        <li class="footer-social__item">
          <a
            class="footer-social__link"
            href="https://www.youtube.com/channel/UCkZRseZnbeStrmZhf5vqaSQ"
            >YouTube</a
          >
        </li>
        <li class="footer-social__item">
          <a class="footer-social__link" href="#">Facebook</a>
        </li>
      </ul>
      <address class="address">
        <div class="mail-address">
          <p class="mail-address__text">Email</p>
          <a class="mail-address__link" href="mailto:3dfreedomcorp@gmail.com"
            >3dfreedomcorp@gmail.com</a
          >
        </div>
        <div class="phone-numbers">
          <p class="phone-numbers__text">Телефоны</p>
          <ul class="number list">
            <li class="number__link-item">
              <a class="number__link" href="tel:+38(096)7617041">+38 (096) 761 70 41</a>
            </li>
            <li class="number__link-item">
              <a class="number__link" href="tel:+38(099)4647415">+38 (099) 464 74 15</a>
            </li>
          </ul>
        </div>
      </address>
    </div>
  </div>
</footer>
