<section class="take-order__hero">
  <div class="take-order__hero-container container">
    <h2 class="take-order__hero-title">Сделать заказ</h2>

    <div class="take-order__hero-wrapper">
      <div class="take-order__background" id="image"></div>
      <div class="take-order__hero-text-wrapper">
        <div>
          <p class="take-order__hero-text">
            На этой странице вы можете сделать заказ заполнив форму и мы свяжемся с вами.
          </p>
          <p class="take-order__hero-text">
            Наши специалисты помогут подобрать оптимальные для вас параметры и ответят на все ваши
            вопросы.
          </p>
        </div>
        <div class="take-order__hero-pictures">
          <div class="take-order__hero-pictures__box"></div>
          <div class="take-order__hero-pictures__box"></div>
          <div class="take-order__hero-pictures__box"></div>
        </div>
      </div>
    </div>
  </div>
</section>
